.delete-button {
  background-color: transparent;
  border-width: 0px;
}
.deleteImage {
  height: 30px;
  width: 30px;
  margin-left: 8px;
}
.nameTitles1 {
  border: #cbd5e1 2px solid;
  display: flex;
  width: 290px;
  padding: 4px;
  height: 40px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.paragraphs {
  font-family: 'Roboto';
  margin: 6px;
  margin-right: 10px;
}
